<div
  class="px-10 sticky top-0 z-50 bg-white shadow-md bg-background/95 backdrop-blur"
>
  <div class="flex justify-between items-center h-16">
    <div class="flex items-center gap-6 pl-14">
      <div class="flex flex-row items-center gap-2">
        <img class="w-14 h-14" src="/assets/logoM.png" alt="" />
        <span class="text-2xl font-bold text-pink-600">MoonJP</span>
      </div>

      <div class="hidden items-center gap-4 text-sm lg:flex">
        <span
          class="px-2 cursor-pointer hover:text-red-500"
          (click)="onNavigate()"
          >Home</span
        >
        <span
          class="px-2 cursor-pointer hover:text-red-500"
          (click)="navigateToProducts()"
          >Products</span
        >
        <span
          class="px-2 cursor-pointer hover:text-red-500"
          (click)="navigateToCollections()"
          >Collections</span
        >
        <span
          class="px-2 cursor-pointer hover:text-red-500"
          (click)="navigateToInspiration()"
          >Inspiration</span
        >
        <span
          class="px-2 cursor-pointer hover:text-red-500"
          (click)="navigateToAboutUs()"
          >About Us</span
        >
      </div>
    </div>

    <div class="flex items-center mr-20 gap-3">
      <div
        class="w-10 h-10 cursor-pointer hover:bg-slate-100 items-center flex justify-center rounded"
      >
        <ng-icon name="heroMagnifyingGlass" size="18"></ng-icon>
      </div>

      <div
        class="w-10 h-10 cursor-pointer hover:bg-slate-100 items-center flex justify-center rounded"
      >
        <ng-icon name="heroHeart" size="18"></ng-icon>
      </div>

      <div
        class="w-10 h-10 cursor-pointer hover:bg-slate-100 items-center flex justify-center rounded"
      >
        <ng-icon name="heroShoppingBag" size="18"></ng-icon>
      </div>

      <div
        class="w-10 h-10 cursor-pointer hover:bg-slate-100 items-center flex justify-center rounded"
      >
        <ng-icon name="heroUser" size="18"></ng-icon>
      </div>
    </div>
  </div>
</div>
