<div class="">
  <!-- {Banner} -->
  <div
    class="flex flex-col items-center justify-center pt-20 pb-28 bg-pink-50 w-full"
  >
    <h1 class="text-5xl font-bold text-pink-700 pb-3">Phụ kiện Nhật bản</h1>
    <span class="text-3xl font-semibold">Tinh tế & thanh lịch</span>
    <span class="mx-4 text-center pt-4"
      >Khám phá những phụ kiện nhật bản tinh tế, được chế tác thủ công với
      chất liệu cao cấp</span
    >
  </div>

  <div class="flex  mx-8 px-6 lg:px-20">
    <button
      (click)="showFilters = !showFilters"
      class="lg:hidden flex justify-between w-full mb-4 py-2 text-black border mt-4 px-4 font-semibold rounded-lg hover:from-pink-600 hover:to-rose-600 transition-all duration-200 text-start"
    >
      <div>
        <ng-icon name="heroFunnel"></ng-icon>
        Bộ lọc
      </div>

      <ng-icon
        [name]="showFilters ? 'heroChevronUp' : 'heroChevronDown'"
        class="pt-1"
      ></ng-icon>
    </button>
  </div>

  <div class="lg:grid lg:grid-cols-4 md:m-14 lg:m-20 m-10 gap-8">
    <!-- Filter Sidebar -->
    <div
      class="lg:col-span-1 lg:block"
      [ngClass]="{ block: showFilters, hidden: !showFilters }"
    >
      <div class="p-6 rounded-lg bg-pink-50/50">
        <!-- Search -->
        <div class="mb-6">
          <h3 class="text-xl font-semibold mb-4 text-gray-800">Tìm kiếm</h3>
          <div class="relative">
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <ng-icon
                name="heroMagnifyingGlass"
                size="20"
                class="text-gray-400"
              ></ng-icon>
            </span>
            <input
              type="text"
              placeholder="Tìm sản phẩm..."
              class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-pink-500"
              [(ngModel)]="searchTerm"
              (input)="applyFilters()"
            />
          </div>
        </div>

        <!-- Categories -->
        <div class="mb-6">
          <h3 class="text-xl font-semibold mb-4 text-gray-800">Danh mục</h3>
          <ul class="space-y-2">
            <li *ngFor="let category of categories">
              <label class="flex items-center text-gray-600">
                <input
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500 mr-3"
                  [(ngModel)]="selectedCategories[category.categoryName]"
                  (change)="applyFilters()"
                />
                {{ category.categoryName }}
              </label>
            </li>
          </ul>
        </div>

        <!-- Price Range -->
        <div class="mb-6">
          <h3 class="text-xl font-semibold mb-4 text-gray-800">Khoảng giá</h3>
          <input
            type="range"
            min="0"
            max="1000000"
            step="10000"
            [(ngModel)]="priceValue"
            (change)="applyFilters()"
            class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer accent-pink-600"
          />
          <div class="flex justify-between text-sm text-gray-600 mt-2">
            <span>0đ</span>
            <span>{{ priceValue | number }}đ</span>
          </div>
        </div>

        <!-- Materials -->
        <div class="mb-6">
          <h3 class="text-xl font-semibold mb-4 text-gray-800">Chất liệu</h3>
          <ul class="space-y-2">
            <li *ngFor="let material of materials">
              <label class="flex items-center text-gray-600">
                <input
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500 mr-3"
                  [(ngModel)]="selectedMaterials[material]"
                  (change)="applyFilters()"
                />
                {{ material }}
              </label>
            </li>
          </ul>
        </div>

        <!-- Colors -->
        <div class="mb-6">
          <h3 class="text-xl font-semibold mb-4 text-gray-800">Màu sắc</h3>
          <ul class="space-y-2">
            <li *ngFor="let color of colors">
              <label class="flex items-center text-gray-600">
                <input
                  type="checkbox"
                  class="h-4 w-4 rounded border-gray-300 text-pink-600 focus:ring-pink-500 mr-3"
                  [(ngModel)]="selectedColors[color]"
                  (change)="applyFilters()"
                />
                {{ color }}
              </label>
            </li>
          </ul>
        </div>
        <!-- Reset Button -->
        <div>
          <button
            (click)="resetFilters()"
            class="w-full py-2 px-4 bg-gradient-to-r from-pink-500 to-rose-500 text-white font-semibold rounded-lg hover:from-pink-600 hover:to-rose-600 transition-all duration-200"
          >
            Xóa bộ lọc
          </button>
        </div>
      </div>
    </div>

    <!-- {Products List} -->
    <div class="col-span-3">
      <div
        class="flex flex-row w-full justify-between items-center border rounded-md p-4 mb-4"
      >
        <span class="text-sm"
          >Hiển thị {{ startIndex }} – {{ endIndex }} / {{
          filteredProducts.length }} sản phẩm</span
        >

        <select class="p-2 border rounded-md" name="" id="">
          <option value="">Mới nhất</option>
          <option value="">Giá cao đến thấp</option>
          <option value="">Giá thấp đến cao</option>
        </select>
      </div>

      <div
        *ngIf="filteredProducts.length > 0; else noProducts"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4"
      >
        <div
          *ngFor="let product of paginatedProducts()"
          class="border rounded-md text-xs"
        >
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
      <ng-template #noProducts>
        <div
          class="col-span-full flex flex-col items-center justify-center text-center h-64"
        >
          <p class="text-xl font-semibold text-gray-700">
            Không tìm thấy sản phẩm nào
          </p>
          <p class="text-gray-500 mt-2">Vui lòng thử lại với bộ lọc khác.</p>
        </div>
      </ng-template>
      <!-- Pagination -->
      <div
        *ngIf="filteredProducts.length > 0"
        class="flex items-center justify-center col-span-6 mt-6"
      >
        <div class="flex items-center justify-center space-x-2">
          <button
            class="px-3 py-1 border rounded disabled:opacity-50"
            [disabled]="currentPage === 1"
            (click)="prevPage()"
          >
            Trước
          </button>

          <ng-container
            *ngFor="let page of [].constructor(totalPages); let i = index"
          >
            <button
              class="px-3 py-1 border rounded"
              [ngClass]="{
                'bg-pink-500 text-white': currentPage === i + 1
              }"
              (click)="goToPage(i + 1)"
            >
              {{ i + 1 }}
            </button>
          </ng-container>

          <button
            class="px-3 py-1 border rounded disabled:opacity-50"
            [disabled]="currentPage === totalPages"
            (click)="nextPage()"
          >
            Sau
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
